body {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#divMessages {
  width: 90vw;
  height: 55vh;
  background-color: mediumpurple;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: auto;
  border-radius: 10px;
  padding: 10px;
}

#txtMessage {
  width: 90vw;
  height: 10vh;
  margin-top: 5vh;
  background-color: mediumpurple;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  padding: 10px;
}

button {
  margin-top: 5vh;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}